<!--   barra leteral do card-->


<div class="card border-0 bg-dark" style="width: 18rem;">
  <div class="d-flex justify-content-center">
    <img class="card-img-top rounded-circle w-75" src="https://66.media.tumblr.com/832bce329811881aec1872743ab9aedd/tumblr_pa13fy0QCV1xt0nfio1_250.png " alt="Imagem de capa do card">
  </div>

  <div class="card-body">
    <h5 class="card-title text-center text-monospace text-white">Stefanie Dias</h5>
    <p class="card-text text-center text-monospace text-white"> Estudante java junior Web na Generation Brasil, curiosa por conhecimento.</p>

    <a href="https://www.linkedin.com/stefanie-dias-costa/" class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">LinkedIn</a>

    <a href="https://github.com/stefaniedias" class="btn btn-outline-info d-flex justify-content-center text-white" target="_blank">GitHub</a>

  </div>
</div>
